{% extends "produit/base.html" %}
{% load static %}
{% block title %}Modification des images{% endblock %}


{% block content %}
<br>
<div class="text-center">
<h3>Ajout d'une image</h3>
</div>
<br>
<table align="center" class="sort-table">
    
    <tbody id="tb">
        {% for img in images_produits  %}
            <tr priorite="{{ img.priorite}}">
                <td class="hello">{{ img.priorite }}</td>
                <td><span class="glyphicon glyphicon-resize-vertical sort-img"> </span></td>
                <td class="align-center" ><img class="sort-img" src ="{{MEDIA_URL}}{{ img.image }}"/></td>
                {% if images_produits.count > 1 %}
                <td><a href="{% url 'suppr_prod_image' img.id%}"><span class="glyphicon glyphicon-trash"> </span></a></td>
                {% endif %}
            </tr>
        {% endfor %}

    </tbody>
</table>
{% if images_produits.count > 0 %}
<div class="text-center">
    <button class="btn btn-primary" type="button" onclick="ajaxUpdate()">Mettre à jour l'ordre</button>
</div>
{% endif %}
{% if images_produits.count < 3 %}
    <br>
    <form class="text-center" method="post" enctype="multipart/form-data" id="formUpload">
        {% csrf_token %}
        {{ form }}
        <br>
        <button class="btn btn-primary" type="submit">Enregistrer le produit</button>
    </form>
    <div class="modal fade" id="modalCrop">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Redimensionner l'image</h4>
                </div>
                <div class="modal-body">
                    <img src="" id="image" style="max-width: 100%;">
                </div>
                <div class="modal-footer">
                    <div class="btn-group pull-left" role="group">
                    <button type="button" class="btn btn-default js-zoom-in">
                        <span class="glyphicon glyphicon-zoom-in"></span>
                    </button>
                    <button type="button" class="btn btn-default js-zoom-out">
                        <span class="glyphicon glyphicon-zoom-out"></span>
                    </button>
                    </div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abandonner</button>
                    <button type="button" class="btn btn-primary js-crop-and-upload">Redimensionner et mettre en ligne</button>
                </div>
            </div>
        </div>
    </div>    



{% endif %}

{% endblock %}
{% block morescripts %}

<script>
$('.sort-table tbody').sortable({
    handle: '.sort-img',
    placeholder: "ui-state-highlight",
    //opacity: 0.9,
});
$( ".sort-table" ).disableSelection();

function ajaxUpdate() {
    var order       =   $('.sort-table tbody').sortable('toArray', { attribute: 'priorite'}); 
    sortOrder=order.join(',');
    $.ajax({
        method: "post",
        url: "{% url 'update_image_priorite'  %}",
        data: {
            'id_produit' : {{id_produit}},
            'order' : sortOrder,
            'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        success: function(response) {
            location.href = "{% url 'ajout_prod_image' id_produit %}";
        }
    });
}
</script>
<script>
    $(function () {

    /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
    $("#id_image").change(function () {
    if (this.files && this.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $("#image").attr("src", e.target.result);
            $("#modalCrop").modal("show");
        }
        reader.readAsDataURL(this.files[0]);
    }
    });
    $("#id_image").click(function () {
    if (this.files && this.files[0]) {
        $("#id_image").val(null);
    }
    });
    /* SCRIPTS TO HANDLE THE CROPPER BOX */
    var $image = $("#image");
    var cropBoxData;
    var canvasData;
    $("#modalCrop").on("shown.bs.modal", function () {
        $image.cropper({
        viewMode: 1,
        aspectRatio: 1/1,
        minCropBoxWidth: 200,
        minCropBoxHeight: 200,
        ready: function () {
            $image.cropper("setCanvasData", canvasData);
            $image.cropper("setCropBoxData", cropBoxData);
        }
        });
    }).on("hidden.bs.modal", function () {
        cropBoxData = $image.cropper("getCropBoxData");
        canvasData = $image.cropper("getCanvasData");
        $image.cropper("destroy");
    });

    $(".js-zoom-in").click(function () {
        $image.cropper("zoom", 0.1);
    });

    $(".js-zoom-out").click(function () {
        $image.cropper("zoom", -0.1);
    });

      /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
    $(".js-crop-and-upload").click(function () {
        var cropData = $image.cropper("getData");
        $("#id_x").val(cropData["x"]);
        $("#id_y").val(cropData["y"]);
        $("#id_height").val(cropData["height"]);
        $("#id_width").val(cropData["width"]);
        $("#formUpload").submit();
    });

    });
</script>
{% endblock morescripts %}
