<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Connexion d'un utilisateur</title>
    <meta charset="UTF-8">
    <meta name="description" content="Lannion Game" />
    <meta name="keywords" content="jeux, game, retro, gaming, lannion" />
    <meta name="author" content="ALIX Baptiste, LAHAROTTE Thomas" />
    <link rel="stylesheet" href="https://infolannion.com/b11/web/html/public/css/style.css">
    <link rel="stylesheet" href="https://infolannion.com/b11/web/html/public/css/bootstrap.css">
    <link rel="icon" type="image/png" href="https://infolannion.com/b11/web/html/public/images/fusee.png">
    <script src="https://infolannion.com/b11/web/html/public/js/jquery-1.11.3.min.js"></script>
    <script src="https://infolannion.com/b11/web/html/public/js/bootstrap.min.js"></script>
</head>

<body>

    <main id="global">
        <!--# contenu -->
        <div id="contenu">

        </div>
    </main>
    <!--#global-->

    <footer>
        <div>
            <p>@2020 copyright: Thomas & Baptiste</p>
        </div>
    </footer>

    <div class="d-none d-lg-block">
        <a class="scrollup">Scroll</a>
    </div>




</body>

</html>