{% extends "produit/base.html" %}

{% block title %}Ajout d'un produit{% endblock %}

{% block content %}

<div class="container-fluid">

    <div id="espacePersoTitle" class="section-title" data-aos="fade-in" data-aos-delay="100">
        <h2>Ajout d'un nouveau produit</h2>
    </div>
    <div class="row">
        <div class="col formulaire">
            <div class="form-group">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br>
                    <button class="btn-formulaire" type="submit">Enregistrer le produit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
   