{% extends "produit/base.html" %}

{% block title %}Ajout d'un type de produit{% endblock %}

{% block content %}
<br>
<div class="container-fluid">

    <div id="espacePersoTitle" class="section-title" data-aos="fade-in" data-aos-delay="100">
        <h3>Ajout d'un nouveau type de produit</h3>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="form-group">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br>
                    <button class="btn btn-primary" type="submit">Enregistrer le type de produit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
   