<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    {% load static %}
    {% load loader%}
    {% infoConnexion as info %}
    {% affDeco as button%}
    <title>{% block title %}BIO CHEZ VOUS{% endblock %}</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->

    <link href="{% static 'img/spoon-and-fork.svg' %}" rel="icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap-glyphicons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/cropper/cropper.min.css' %}" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fugaz+One&family=Poppins&display=swap"
        rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    {% block morehead %}{% endblock morehead %}
</head>

<body>
    {% block header %}
    <!-- ======= Header ======= -->
    <header id="header" class="{% block headeropacity %}fixed-top header-scrolled{% endblock headeropacity %}">
        <div class="container-fluid d-flex align-items-center">

            <div class="logo mr-auto">
                <h1 class="text-light"><a href="{% url 'accueil' %}"><span>BIO CHEZ VOUS</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!--<a href="index.html"><img src="assets/img/logo" alt="" class="img-fluid"></a>-->
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li><a href="{% url 'accueil' %}">Accueil</a></li>
                    <li><a href="{% url 'catalogue' %}">Nos Produits</a></li>
                    <li><a href="{% url 'propos' %}">A propos</a></li>
                    {% if not button.buttonDeco%}
                        <li><a href="{% url 'connexion' %}"><i class="icofont-sign-in"></i></a></li>
                    {%else%}
                        <li><a href="{% url 'espacePerso' %}"><i class="icofont-boy"></i></a></li>
                        <li><a href="{% url 'panier' %}"><i class="icofont-spoon-and-fork"></i></a></li>
                    {% endif %}
                
                    {% if button.buttonDeco%}
                        <li><a href="{% url 'deconnexion' %}"><i class="icofont-sign-out"></i></a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
       
    </header><!-- End Header -->
    {% endblock %}
    {% block hero%}

    {% endblock %}
    
    <main id="main">
        <br/>
        <br/>
        <br/>
        <div id="content">
            {% block content %}{% endblock %}
        </div>

    </main>

    <!-- ======= Footer ======= -->
    
    <footer id="footer">
     
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact section-bg">
            <div class="container">

                <div class="row bloc-footer-row data-aos="fade-up" data-aos-delay="100">
                    {% if button.buttonDeco%}
                        <div class="col-lg-3 col-md-6 bloc-footer">
                            <div class="info-box mb-4">
                                <i class="icofont-sign-out"></i>
                                <h3>Déconnexion</h3>
                                <a href="{% url 'deconnexion' %}">Se déconnecter !</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-lg-3 col-md-6 bloc-footer">
                            <div class="info-box mb-4">
                                <i class="icofont-sign-in"></i>
                                <h3>Connexion</h3>
                                <a href="{% url 'connexion' %}">Se connecter !</a>
                            </div>
                        </div>
                    {% endif %}
                    <div class="col-lg-6 bloc-footer">
                        <div class="info-box mb-4">
                            <i class="icofont-search-map"></i>
                            <h3>Notre adresse</h3>
                            <p>Rue Édouard Branly, 22300 Lannion</p>
                        </div>
                    </div>
                    

                    <div class="col-lg-3 col-md-6 bloc-footer">
                        <div class="info-box  mb-4">
                            <i class="icofont-phone"></i>
                            <h3>Appelez nous</h3>
                            <p>06 06 06 06 06</p>
                        </div>
                    </div>

                </div>

                <div class="row" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-lg-6 ">
                        <iframe class="mb-4 mb-lg-0"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2630.234761175193!2d-3.4540006843291695!3d48.75831297927785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48122c034b5275af%3A0x355e62516b08c22f!2sIUT%20Lannion!5e0!3m2!1sfr!2sfr!4v1616835476720!5m2!1sfr!2sfr"
                            frameborder="0" style="border:0; width: 100%; height: 100%;" allowfullscreen></iframe>
                    </div>

                    <div class="col-lg-6">
                        <form method="post" class="php-email-form" action="{% url 'email' %}">
                            {% load feedback %}
                            {% csrf_token %}
                            {% feedback_form as contactform %}
                            {{ contactform.as_p }}
                            <div class="form-actions">
                                <button type="submit">Envoyer</button>
                            </div>
                        </form>


                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Squadfree</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/squadfree-free-bootstrap-template-creative/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'vendor/waypoints/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'vendor/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
    <script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'vendor/aos/aos.js' %}"></script>
    <script src="{% static 'vendor/jquery/jquery-ui.min.js' %}"></script>
    <script src="{% static 'vendor/cropper/cropper.js' %}"></script>
    {% block morescripts %}{% endblock %}

    <!-- Template Main JS File -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/flickity.pkgd.js' %}"></script>

</body>

</html>