{% extends "produit/base.html" %}
{% load static %}

{% block title %}Liste de mes produits{% endblock %}
{% block content %}
<table id="table" class="table table-hover table-mc-light-blue">
    <thead>
        <tr>
                <th>Identifiant</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Unité</th>
                <th>quantité</th>
                <th>Date d'ajout</th>
                <th>Modifier l'image du produit</th>
                <th>Supprimer le produit</th>
         </tr>
    </thead>
    {% for prod in prodlist %}
        <tr>
            <td>{{prod.produit_id }}</td> 
            <td>{{prod.nom }}</td>
            <td>{{prod.description }}</td>
            <td>{{prod.prix }}</td>            
            <td>{{prod.unit }}</td>
            <td>{{prod.quantite }}</td>
            <td>{{prod.date }}</td>
            <td>
                {% url 'ajout_prod_image' prod.produit_id as the_url %}
                <button class="btn btn-primary"><a href="{{ the_url }}">Modifier l'image</a></button>
            </td>
            <td>
                {% url 'deleteOneProd' prod.produit_id as the_url %}
                <button class="btn btn-primary"><a href="{{ the_url }}">Supprimer le produit</a></button>
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}