<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initia-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    <p>Bonjour {{user.prenom}}, <br>
        <br>
        Aller ! Encore un dernier effort 💪 ! Il vous reste à confirmer votre mail pour finaliser votre inscription. <br>
        <br>
        <a href="http://localhost:8000{% url 'activate' uidb64=uid token=token %} ">Cliquez ici !</a><br>
        <br>


        À bientôt chez BioChezVous
    </p>
            <div style="background-color: #555555;">
        <h2 style="font-family: 'Fugaz One'; color: #00ffc6;">BIO CHEZ VOUS</h2>
        <p style="color: #fff;">Rue Édouard Branly, 22300 Lannion <br> 06 06 06 06 06 <br> biochezvous.iut@gmail.com</p>
       </div>
</body>

</html>
