{% extends "produit/base.html"%}
{% load static %}

{% block title %}Liste des commandes {% endblock %}

{% block content %}
 <table id="table" class="table table-hover table-mc-light-blue">
    <thead>
        <tr>
            <th>Identifiant</th>
            <th>date</th>
            <th>Statut</th>
            <th>montant</th>
            <th>Personne</th>
         </tr>
    </thead>
    {% for com in comlist %}
        <tr>
            <td>{{com.commande_id }}</td>
            <td>{{com.date }}</td>
            <td>{{com.statut }}</td>            
            <td>{{com.montant }}</td>
            <td>{{com.personne_id }}</td>    
        </tr>
    {% endfor %}
</table>
{% endblock %}