{% extends "produit/base.html"%}
{% load static %}

{% block title %}Liste des commandes {% endblock %}

{% block content %}
 <table id="table" class="table table-hover table-mc-light-blue">
    <thead>
        <tr>
            <th>Identifiant</th>
            <th>quantite</th>
            <th>Produit</th>
         </tr>
    </thead>
    {% for com in comlist %}
        <tr>
            <td>{{com.commande_id }}</td>
            <td>{{com.quantite }}</td>
            <td>{{com.produit_id}}</td>               
        </tr>
    {% endfor %}
</table>
{% endblock %}