{% extends "produit/base.html" %}
{% load static %}

{% block title %}Connexion d'un producteur{% endblock %}


{% block content %} 
<div class="container">
    <div class="row">
        <div class="col text-center">
            {{ verif_connexion }}
        </div>
    </div>
    
    
    
    <div class="row">
        <div class="col formulaire"> 
            <div class="form-group-lg">
                <form method="post" >
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary btn-formulaire" type="submit">Connexion</button>
                </form>
            </div>
        </div>
    </div>
    <br>
</div>

{% endblock %}

