{% extends "produit/base_sans_header.html" %}

{% load static %}

{% block title %}Bio Chez Vous - description{% endblock %}

{% block content %}

<div class="description_prod container">
    <section id="maDescription">
        <div class="row">
            <div class="col">
                <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                    <h2>Qui nous sommes ?</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6" data-aos="fade-right" data-aos-delay="150">
                <p>
                    {{leproducteur.description}}
                </p>
            </div>
            <div class="col-lg-6" data-aos="fade-left" data-aos-delay="150">
                <img src="{{MEDIA_URL}}{{leproducteur.image}}" class="w-100">
            </div>
        </div>
    </section>
    
    <section id="mesProduits">
        <div class="row">
            {% if not mesProduits %}
                <div class="col text-center">
                    <i class="icofont-panda display-1"></i>
                    <p style="font-family: 'Architects Daughter', cursive;"> {{leproducteur.nom}} n'a pas encore ajouter de produits</p>
                </div>
            {% else %}
                {% for produit in mesProduits %}
                    <div class="col col-lg-4 col-md-6 portfolio-item {{produit.produit.categorie.typeProduit.nom}}">
                        <div class="prod-wrap">
                            <img src="{{MEDIA_URL}}{{produit.image}}" class="w-100" alt="">
                            <div class="prod-links">
                                <a href="#" title="App 1"><i class="icofont-heart"></i></a>
                                <a href="{% url 'produit' produit.produit_id %}" title="More Details"><i class="icofont-plus"></i></a>
                                <a href="#" title="More Details"><i class="icofont-search-2"></i></a>
                            </div>
                        </div>
                    </div>                        
                {% endfor %}
            {% endif %}
        </div>
    </section>
    
    <section id="meContacter">
        
    </section>
</div>



{% endblock %}


