{% extends "produit/base.html" %}
{% load static %}
{% block title %}Espace Producteur{% endblock %}
{% block content %}
<div class="container admin">
    <div class="col">
            <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                <h2>Espace producteur</h2>
            </div>
    </div>
    <div class="row justify-content-around text-center">
        
        <a href="{% url 'ajout_categorie' %}" class="col-md-3 boxEspacePerso">                
            <div class=" ">
                <i class="icofont-bar-code"></i>
                <p> Ajouter une catégorie </p>                
            </div>                
        </a>
        
        <a href="{% url 'informationPerso' %}" class="col-md-3 boxEspacePerso">
            <div>
                <i class="icofont-address-book"></i>                
                <p> Mes informations </p>
            </div>           
        </a>

        <div class="col-md-3 boxEspacePerso">
            <a href="{% url 'ajout_prod_adresse' %}">
                <i class="icofont-edit"></i>
                <p> Modifier mon adresse </p>
            </a>
        </div>
    </div>

    <div class="row justify-content-around text-center">
        <a href="{% url 'ajout_prod' %}" class="col-md-3 boxEspacePerso">
            <div>
                <i class="icofont-ui-add"></i>
                <p> Ajouter un produit </p>
            </div>
        </a>
        <a href="{% url 'aff_prod' %}" class="col-md-3 boxEspacePerso">
            <div>
                <i class="icofont-listine-dots"></i>
                <p> Liste de mes produits </p>                
            </div>            
        </a>
        <a href="{% url 'commandeProducteur' %}" class="col-md-3 boxEspacePerso">
            <div>
                <i class="icofont-list"></i>
                <p> Voir les commandes </p>                
            </div>            
        </a>

    </div>
    
</div>
{% endblock %}