{% extends "produit/base.html"%}
{% load static %}

{% block title %}Mon espace{% endblock %}

{% block content %}



<div class="container-fluid">

    <div id="espacePersoTitle" class="section-title" data-aos="fade-in" data-aos-delay="100">
        <h2> Espace personnel du producteur</h2>
    </div>


    


    <!-- Bouton pour afficher le formulaire pour modifier les infos persos -->
    <button class="btn btn-primary mb-2" type="button" data-target="#MonCollapse" data-toggle="collapse"
        aria-expanded="false" aria-controls="MonCollapse">Modifier mes informations</button>

    <!-- le formulaire -->

    <section id="MonCollapse" class="collapse">
        <div class="well">
            <h2> Mes informations </h2>
            <div class="form-group col-md-10">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Go</button>
                </form>
            </div>
        </div>
    </section>


</div>
{% endblock %}



