{% extends "produit/base.html"%}
{% load static %}

{% block title %}Mon espace{% endblock %}

{% block content %}



<div class="container-fluid">

    <div id="espacePersoTitle" class="section-title" data-aos="fade-in" data-aos-delay="100">
        <h2> Espace personnel </h2>
    </div>


    <div class="row justify-content-around text-center">
        
        <a href="listeCommande" class="col-md-3 boxEspacePerso">                
            <div class=" ">
                <i class="icofont-bar-code"></i>
                <p> Historique des commandes </p>                
            </div>                
        </a>
        
        <a href="informationPerso" class="col-md-3 boxEspacePerso">
            <div>
                <i class="icofont-address-book"></i>                
                <p> Mes informations </p>
            </div>           
        </a>

        <div class="col-md-3 boxEspacePerso">
            <a href="nouvelleAdresse">
                <p> Modifier mon adresse </p>
            </a>
        </div>
    </div>

    <div class="row justify-content-around text-center">
        <a href="" class="col-md-3 boxEspacePerso">
            <div>
                <i class="icofont-finger-print"></i>
                <p> RGPD </p>
            </div>
        </a>
        <a href="" class="col-md-3 boxEspacePerso">
            <div>
                <i class="icofont-alarm"></i>
                <p> Mes alertes </p>                
            </div>            
        </a>

    </div>





</div>
{% endblock %}