{% extends "produit/base.html"%}
{% load static %}

{% block title %}Mon espace{% endblock %}

{% block content %}



<div class="container-fluid">

    <div id="espacePersoTitle" class="section-title" data-aos="fade-in" data-aos-delay="100">
        <h2> Espace personnel </h2>
    </div>


    <div class="row justify-content-around text-center">
        <div class="col-md-3 boxEspacePerso">
            <div class=" ">
                <a href="listeCommande">
                    <p> Historique des commandes </p>
                </a>
            </div>
        </div>
        <div class="col-md-3 boxEspacePerso">
            <a href="informationPerso">
                <p> Mes informations </p>
            </a>
        </div>

        <div class="col-md-3 boxEspacePerso">
            <a href="">
                <p> Mes adresses </p>
            </a>
        </div>
    </div>

    <div class="row justify-content-around text-center">
        <div class="col-md-3 boxEspacePerso">
            <div class=" ">
                <a href="">
                    <p> RGPD </p>
                </a>
            </div>
        </div>
        <div class="col-md-3 boxEspacePerso">
            <a href="">
                <p> Mes alertes </p>
            </a>
        </div>

    </div>





</div>
{% endblock %}