{% extends "produit/base.html"%}
{% load static %}

{% block title %}Mon espace{% endblock %}

{% block content %}



<div class="container-fluid">

    <div id="espacePersoTitle" class="section-title" data-aos="fade-in" data-aos-delay="100">
        <h2> Mes informations </h2>
    </div>

    <!-- le formulaire -->

    <div class="row">
        <div class="col formulaire">

            <div class="form-group">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ formG.as_p }}
                    <button class="btn-formulaire" type="submit">Go</button>
                </form>

            </div>
        </div>
    </div>



</div>
{% endblock %} 