{% extends "produit/base.html" %}
{% load static %}

{% block title %}Inscription d'un producteur{% endblock %}
{% block content %}

<div class="container-fluid">

<div class="row">
    <div class="col formulaire">
        <div class="form-group">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn-formulaire" type="submit">créer utilisateur</button> 
            </form>
        </div>
    </div>
</div>
</div>
<br>
{% endblock %}

