{% extends "produit/base.html"%}
{% load static %}

{% block title %}Liste des commandes {% endblock %}

{% block content %}



<div class="container-fluid">

  <div id="espacePersoTitle" class="section-title" data-aos="fade-in" data-aos-delay="100">
    <h2> MES COMMANDES </h2>
  </div>

  {% include 'espace_perso/messages.html' %}


  {% if commandes %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Référence de la commande</th>
        <th scope="col">Date</th>


        <th scope="col">Statut</th>
        <th scope="col">Montant total</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for cmd in commandes %}
      <tr>
        <th scope="row">{{ cmd.commande_id }}</th>
        <td>{{ cmd.date }}</td>
        <td>{{ cmd.statut }}</td>
        <td>{{ cmd.montant }}</td>
        <td>
          <a href="{% url 'commande' cmd.commande_id %}"><span class="glyphicon glyphicon-pencil">Détails</span></a>
        </td>
        <td>
          <a href="{% url 'pdf_view' cmd.commande_id %}" target="_blank"><span
              class="glyphicon glyphicon-pencil">Facture</span></a>
        </td>
        <td>
          <a href="{% url 'commanderEncore' cmd.commande_id %}"><span
              class="glyphicon glyphicon-pencil">Commander encore</span></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


</div>
{% else %}

<div class="row justify-content-center text-center">
  <div class="col-md-6">
    <p> Vous n'avez pas encore de commandes.</p>
  </div>
</div>

{% endif %}



</div>
{% endblock %}