{% extends "produit/base.html"%}
{% load static %}
{% block title%}Paiement{% endblock title%}
{% block content%}
        <div id="paiementTitle" class="section-title" data-aos="fade-in" data-aos-delay="100">
            <h2>Finaliser votre commande</h2>
        </div>
        <div class="row col-lg-12">

            <section id="facturation" class="col-lg-5 offset-lg-1" data-aos="fade-right" data-aos-delay="100">
                <h3>Adresse de facturation</h3>
                <input type="name" placeholder="Nom">
                <input type="name" placeholder="Prénom"><br>
                <input type="Address" placeholder="Adresse" class="info"><br>
                <input type="Address" placeholder="Code Postal" class="info"><br>
                <input type="Address" placeholder="Ville" class="info"><br>
                <input type="phone" placeholder="Téléphone" class="info">
            </section>
            <section id="paiement" class="col-lg-4 offset-lg-1" data-aos="fade-left" data-aos-delay="100">
                <h3>Mode de Paiement</h3>
                <script>
                    jQuery(document).ready(function() {
                        // On cache la zone de texte
                        jQuery('#toggle').hide();
                        // toggle() lorsque le lien avec l'ID #toggler est cliqué
                        jQuery('a#toggler').click(function() {
                            jQuery('#toggle').toggle(400);
                            jQuery('#toggle2').hide();
                            jQuery('#toggle3').hide();
                            jQuery('#toggle4').hide();
                            return false;
                        });
                    });

                </script>

                <a href="#" id="toggler"><img src={% static 'img/icon/visa.png' %} height="40px" width="60px"> </a>
                <script>
                    jQuery(document).ready(function() {
                        // On cache la zone de texte
                        jQuery('#toggle2').hide();
                        // toggle() lorsque le lien avec l'ID #toggler est cliqué
                        jQuery('a#toggler2').click(function() {
                            jQuery('#toggle2').toggle(400);
                            jQuery('#toggle').hide();
                            jQuery('#toggle3').hide();
                            jQuery('#toggle4').hide();
                            return false;
                        });
                    });

                </script>

                <a href="#" id="toggler2"><img src={% static 'img/icon/mastercard.png' %} height="40px" width="60px"> </a>
                <script>
                    jQuery(document).ready(function() {
                        // On cache la zone de texte
                        jQuery('#toggle3').hide();
                        // toggle() lorsque le lien avec l'ID #toggler est cliqué
                        jQuery('a#toggler3').click(function() {
                            jQuery('#toggle3').toggle(400);
                            jQuery('#toggle2').hide();
                            jQuery('#toggle').hide();
                            jQuery('#toggle4').hide();
                            return false;
                        });
                    });

                </script>

                <a href="#" id="toggler3"><img src={% static 'img/icon/cb.jpg' %} height="40px" width="60px"> </a>
                <script>
                    jQuery(document).ready(function() {
                        // On cache la zone de texte
                        jQuery('#toggle4').hide();
                        // toggle() lorsque le lien avec l'ID #toggler est cliqué
                        jQuery('a#toggler4').click(function() {
                            jQuery('#toggle4').toggle(400);
                            jQuery('#toggle2').hide();
                            jQuery('#toggle3').hide();
                            jQuery('#toggle').hide();
                            return false;
                        });
                    });

                </script>

                <a href="#" id="toggler4"><img src={% static 'img/icon/paypal.png' %} height="40px" width="60px"> </a>


                <div id="toggle">
                    <h3>
                        Visa
                    </h3>

                    <p>Numéro de carte : <input placeholder="Numero de carte"></p><br>
                    <p>CCV : <input placeholder="Code de sécurité (CVV)"></p><br>
                    <p>Date d'expiration : <select>
                            <option>01</option>
                            <option>02</option>
                            <option>03</option>
                            <option>04</option>
                            <option>05</option>
                            <option>06</option>
                            <option>07</option>
                            <option>08</option>
                            <option>09</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                        </select>
                        <select>
                            <option>2021</option>
                            <option>2022</option>
                            <option>2023</option>
                            <option>2024</option>
                            <option>2025</option>
                            <option>2026</option>
                        </select>
                    </p>
                    <br>

                </div>
                <div id="toggle2">
                    <h3>
                        MasterCard
                    </h3>

                    <p>Numéro de carte : <input placeholder="Numero de carte"></p><br>
                    <p>CCV : <input placeholder="Code de sécurité (CVV)"></p><br>
                    <p>Date d'expiration : <select>
                            <option>01</option>
                            <option>02</option>
                            <option>03</option>
                            <option>04</option>
                            <option>05</option>
                            <option>06</option>
                            <option>07</option>
                            <option>08</option>
                            <option>09</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                        </select>
                        <select>
                            <option>2021</option>
                            <option>2022</option>
                            <option>2023</option>
                            <option>2024</option>
                            <option>2025</option>
                            <option>2026</option>
                        </select>
                    </p>
                    <br>
                </div>
                <div id="toggle3">
                    <h3>
                        CB
                    </h3>

                    <p>Numéro de carte : <input placeholder="Numero de carte"></p><br>
                    <p>CCV : <input placeholder="Code de sécurité (CVV)"></p><br>
                    <p>Date d'expiration : <select>
                            <option>01</option>
                            <option>02</option>
                            <option>03</option>
                            <option>04</option>
                            <option>05</option>
                            <option>06</option>
                            <option>07</option>
                            <option>08</option>
                            <option>09</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                        </select>
                        <select>
                            <option>2021</option>
                            <option>2022</option>
                            <option>2023</option>
                            <option>2024</option>
                            <option>2025</option>
                            <option>2026</option>
                        </select>
                    </p>
                    <br>
                </div>
                <div id="toggle4">
                    <h3>
                        PayPal
                    </h3>

                    <p>Numéro de carte : <input placeholder="Numero de carte"></p><br>
                    <p>CCV : <input placeholder="Code de sécurité (CVV)"></p><br>
                    <p>Date d'expiration : <select>
                            <option>01</option>
                            <option>02</option>
                            <option>03</option>
                            <option>04</option>
                            <option>05</option>
                            <option>06</option>
                            <option>07</option>
                            <option>08</option>
                            <option>09</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                        </select>
                        <select>
                            <option>2021</option>
                            <option>2022</option>
                            <option>2023</option>
                            <option>2024</option>
                            <option>2025</option>
                            <option>2026</option>
                        </select>
                    </p>
                    <br>
                </div>
            </section>
        </div>
        <a href="{% url "commander" %}"><button id="validButton" type="button" class="btn btn-success" data-aos="fade-up" data-aos-delay="100">Valider votre commande</button></a>

    {% endblock content%}
   