{% extends "produit/base.html"%}
{% load static %}

{% block title %}Mon espace{% endblock %}

{% block content %}



<div class="container-fluid">

    <div id="espacePersoTitle" class="section-title" data-aos="fade-in" data-aos-delay="100">
        <h2> MES COMMANDES </h2>
    </div>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Statut</th>
            <th scope="col">Montant</th>
            <th scope="col">PersonneID</th>
          </tr>
        </thead>
        <tbody>
            {% for cmd in commandes %}  
          <tr>
            <th scope="row">{{ cmd.commande_id }}</th>
            <td>{{ cmd.date }}</td>
            <td>{{ cmd.statut }}</td>
            <td>{{ cmd.montant }}</td>
            <td>{{ cmd.personne_id }}</td>
          </tr>
          {% endfor %}  
        </tbody>
      </table>


    


   

   


</div>
{% endblock %}



