{% extends "produit/base.html" %}
{% load static %}

{% block title %}Liste des utilisateurs{% endblock %}
{% block content %}
 <table id="table" class="table table-hover table-mc-light-blue">
    <thead>
        <tr>
            
                <th>Nom</th>
                <th>Prénom</th>
                <th>Identifiant</th>
                <th>adresse mail</th>
                <th>téléphone</th>

         </tr>
    </thead>
    {% for user in userlist %}
        <tr>
            <td>{{user.nom }}</td>
            <td>{{user.prenom }}</td>
            <td>{{user.id_personne }}</td>            
            <td>{{user.mail }}</td>
            <td>{{user.num_tel }}</td>
            <td>
                <form action="userlist" method="GET">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">Supprimer l'utilisateurs</button>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}