{% extends "produit/base.html" %}
{% load static %}
{% block title %}Espace Administrateur{% endblock %}
{% block content %}
<div class="container admin">
    <div class="row">
        <div class="col">
            <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                <h2>Espace Administrateur</h2>
            </div>
        </div>
    </div>

    
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="text-center">
                <a href="transactions" class="espaceadmin">Voir les commandes</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="text-center">
                <a href="" class="espaceadmin">Gérer les demandes de producteur</a>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <img src="{% static 'img/icon/default-avatar.png' %}" class="d-block" alt="..." title="..." width="50" height="50">
        </div>
        <div class="marge"></div>
        <div class="col-md-4 col-sm-12">
            <div class="text-center">
                <a href="userlist" class="espaceadmin">Gérer les utilisateurs</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="text-center">
                <a href="listeAides" class="espaceadmin">Demandes de SAV</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}