{% extends "produit/base.html" %}
{% load static %}
{% block title %}Espace Administrateur - Demandes d'aide{% endblock %}
{% block content %}
<div class="container admin">
    <div class="row">
        <div class="col">
            <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                <h2>Espace Administrateur</h2><br>
                <h3>Les demandes d'aide</h3>
            </div>
        </div>
    </div>
    <table id="table" class="table table-hover table-mc-light-blue">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Message</th>
                <th>Répondre</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        {% for demande in listeAides %}
            <tr>
                <td>{{demande.nom }}</td>
                <td>{{demande.prenom }}</td>         
                <td>{{demande.mail }}</td>
                <td>{{demande.message }}</td>
                <td>  
                    <button class="btn supp" id="btnSuppr"><a href="{{ the_url }}">Répondre</a></button>
                </td>
                <td>
                    {% url 'deleteDemande' demande.message_id as the_url %}
                    <button class="btn supp" id="btnSuppr"><a href="{{ the_url }}">Supprimer le message</a></button>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}