{% extends "produit/base.html" %}
{% load static %}
{% block title %}Espace Administrateur - Utiisateurs inscris{% endblock %}
{% block content %}
<div class="container admin">
    <div class="row">
        <div class="col">
            <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                <h2>Espace Administrateur</h2><br>
                <h3>Liste d'utilisateurs inscrit</h3>
            </div>
        </div>
    </div>
    <nav class="navigation">
        <ul>
            <li><a href="listeUtilisateurs"><i class="icofont-ui-user"></i></a></li>
            <li><a href="transactions"><i class="icofont-envelope"></i></a></li>
            <li><a href="transactions"><i class="icofont-exchange"></i></a></li>
            <li><a href="transactions"><i class="icofont-help-robot"></i></a></li>
        </ul>
    </nav>
    <!-- Les Producteurs -->
    <div class="row">
        <div class="col-12">
            <h3>Les producteurs</h3>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">

            <!-- Nom des colonnes-->
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Identifiant</th>
                    <th>Mail</th>
                    <th>Numéro téléphone</th>
                    <th>Action</th>
                </tr>
            </thead>
            
            <!--Contenu-->
            <tbody>
                {% for prod in listeProd %}
                <tr>
                    <td>{{prod.nom }}</td>
                    <td>{{prod.prenom }}</td>
                    <td>{{prod.id_personne }}</td>            
                    <td>{{prod.mail }}</td>
                    <td>{{prod.num_tel }}</td>
                    <td><button class="btn supp" id="btnSuppr" type="submit">Supprimer</button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Les Consommateurs -->
    <div class="row">
        <div class="col-12">
            <h3>Les consommateurs</h3>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">

            <!-- Nom des colonnes-->
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Identifiant</th>
                    <th>Mail</th>
                    <th>Numéro téléphone</th>
                    <th>Action</th>
                </tr>
            </thead>
            
            <!--Contenu-->
            <tbody>
                {% for conso in listeConso %}
                <tr>
                    <td>{{conso.nom }}</td>
                    <td>{{conso.prenom }}</td>
                    <td>{{conso.id_personne }}</td>            
                    <td>{{conso.mail }}</td>
                    <td>{{conso.num_tel }}</td>
                    <td><button class="btn suppr" id="btnSuppr" type="submit">Supprimer</button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}