<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initia-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
        <p>Bonjour {{user.prenom}},  👋 <br>
<br>
Bienvenu dans notre équipe de producteurs partenaires ! <br>
Veuillez vous connecter sur votre espace personnel pour profiter des nouvelles fonctionnalités et pour ajouter une description pour que les clients sachent un peu plus sur vous. <br>
<br>
Vos identifiants restent inchangés !<br>
<br>
Merci de votre confiance.<br>
À bientôt sur BioChezVous !</p>
        <div style="background-color: #555555;">
        <h2 style="font-family: 'Fugaz One'; color: #00ffc6;">BIO CHEZ VOUS</h2>
        <p style="color: #fff;">Rue Édouard Branly, 22300 Lannion <br> 06 06 06 06 06 <br> biochezvous.iut@gmail.com</p>
       </div>

</body>

</html>
