<!--<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>BIO CHEZ VOUS</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons --

    <link href="assets/img/spoon-and-fork.svg" rel="icon">

    <!-- Google Fonts --
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <!-- Vendor CSS Files --
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File --
    <link href="assets/css/style.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fugaz+One&family=Poppins&display=swap" rel="stylesheet">

</head>

<body>-->

    <!-- ======= Header ======= --
    <header id="header" class="fixed-top header-transparent">
        <div class="container d-flex align-items-center">

            <div class="logo mr-auto">
                <h1 class="text-light"><a href="index.html"><span>BIO CHEZ VOUS</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!--<a href="index.html"><img src="assets/img/logo" alt="" class="img-fluid"></a>--
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="index.html">Accueil</a></li>
                    <li><a href="produits.html">Nos Produits</a></li>
                    <li><a href="#">A propos</a></li>
                    <li><a href="teams.html"><i class="icofont-boy"></i></a></li>
                    <li><a href="#"><i class="icofont-spoon-and-fork"></i></a></li>

                </ul>
            </nav><!-- .nav-menu --

        </div>
    </header><!-- End Header --

    -->

{% extends "produit/base.html" %}

{% load static %}
   
{% block title %}BIO CHEZ VOUS - Accueil{% endblock %}

{% block hero %}
    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div class="hero-container">
            <h1 data-aos="fade-up" data-aos-delay="300">Pour une agriculture</h1>
            <h2 data-aos="fade-up" data-aos-delay="500">plus saine et dans le respect de la nature</h2>
            <a href="#services" class="btn-get-started scrollto" data-aos="fade-up" data-aos-delay="800"><i class="fas fa-carrot"></i></a>
        </div>
    </section><!-- End Hero  <i class="bx bx-chevrons-down"> -->
{% endblock %}

{% block content %}
    <main id="main">

        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container">

                <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                    <h2>L'amour est dans le bio</h2>
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>

            </div>
        </section><!-- End Services Section -->

        <!-- ======= Counts Section ======= -->
        <section id="counts" class="counts  section-bg">
            <div class="container">

                <div class="row no-gutters">

                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="zoom-in-up">
                        <div class="count-box">
                            <i class="icofont-simple-smile"></i>
                            <span data-toggle="counter-up">{{nb_happyClient}}</span>
                            <p><strong>Clients Heureux</strong> d'avoir rejoint l'aventure</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="zoom-in-up" data-aos-delay="150">
                        <div class="count-box">
                            <i class="icofont-farmer-alt"></i>
                            <span data-toggle="counter-up">{{nb_producteur}}</span>
                            <p><strong>Agriculteur</strong> pour vos données des idées</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="zoom-in-up" data-aos-delay="300">
                        <div class="count-box">
                            <i class="icofont-artichoke"></i>
                            <span data-toggle="counter-up">{{nb_happyClient}} </span>
                            <p><strong>Produits</strong> bio dans le respect de la nature</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="zoom-in-up" data-aos-delay="450">
                        <div class="count-box">
                            <i class="icofont-users-alt-5"></i>
                            <span data-toggle="counter-up">{{nb_recette}}</span>
                            <p><strong>Nos recettes</strong> rerum asperiores dolor</p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Counts Section -->



        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">
            <div class="container">

                <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                    <h2>Les Fraicheurs</h2>
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>

                {% if not lesfraicheurs %}
                <div class="row mt-5">
                    <div class="col text-center">
                        <i class="icofont-panda display-1"></i>
                        <p style="font-family: 'Architects Daughter', cursive;"> Les fraicheurs de la semaine arrivent prochainement</p>
                    </div>
                </div>
                {% else %}
                

                <div class="row" data-aos="fade-in">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">Tous</li>
                            <li data-filter=".FRUITS">Fruits</li>
                            <li data-filter=".LEGUMES">Légumes</li>
                            <li data-filter=".VIANDES">Viandes</li>
                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container prod" data-aos="fade-up">

                    {% for produit in lesfraicheurs %}
                    <div class="col col-lg-4 col-md-6 portfolio-item {{produit.produit.categorie.typeProduit.nom}}">
                        <div class="prod-wrap">
                            <img src="{{MEDIA_URL}}{{produit.image}}" class="w-100" alt="">
                            <div class="prod-links">
                                <a href="#" title="App 1"><i class="icofont-heart"></i></a>
                                <a href="{% url 'produit' produit.produit_id %}" title="More Details"><i class="icofont-plus"></i></a>
                                <a href="#" title="More Details"><i class="icofont-search-2"></i></a>
                            </div>
                        </div>
                    </div>                        
                    {% endfor %}

                </div>
                {% endif %}
            </div>
        </section><!-- End Portfolio Section -->





        <!-- ======= Les recettes de nos agriculteurs ========-->
        <section id="recettes" class="section-bg recettes">
            <div class="container">

                <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                    <h2>Les Recettes</h2>
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>

                <div class="row">
                    <div class="col text-center">
                        <a class="btn" id="fleche-gauche" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                            <i class="icofont-swoosh-left"></i>
                        </a>
                        <a class="btn" id="fleche-droite" href="#carouselExampleIndicators2" role="button" data-slide="next">
                            <i class="icofont-swoosh-right"></i>
                        </a>
                    </div>
                    <div class="col-12">
                        <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">

                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <img class="img-fluid" alt="100%x280" src="{% static 'img/recette/repas1.jpg' %}">
                                                <div class="card-body">
                                                    <h4 class="card-title">Special title treatment</h4>
                                                </div>
                                                <div class="card-body">
                                                    <ul>
                                                        <li class="d-flex"><span>Oeuf</span><span class="ml-auto text-right">4</span></li>
                                                        <li class="d-flex"><span>Jambon</span><span class="ml-auto text-right">200g</span></li>
                                                        <li class="d-flex"><span>truffe</span><span class="ml-auto text-right">10g</span></li>
                                                        <li class="d-flex"><span>Lard</span><span class="ml-auto text-right">300g</span></li>

                                                    </ul>
                                                    <div class="text-center"><button type="submit">Faire ! <i class="ml-3 icofont-restaurant"></i></button></div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <img class="img-fluid" alt="100%x280" src="{% static 'img/recette/repas2.jpg' %}">
                                                <div class="card-body">
                                                    <h4 class="card-title">Special title treatment</h4>
                                                </div>
                                                <div class="card-body">
                                                    <ul>
                                                        <li class="d-flex"><span>Pomme de terre</span><span class="ml-auto text-right">200g</span></li>
                                                        <li class="d-flex"><span>Pomme de terre</span><span class="ml-auto text-right">200g</span></li>
                                                        <li class="d-flex"><span>Pomme de terre</span><span class="ml-auto text-right">200g</span></li>
                                                        <li class="d-flex"><span>Pomme de terre</span><span class="ml-auto text-right">200g</span></li>

                                                    </ul>
                                                    <div class="text-center"><button type="submit">Faire ! <i class="ml-3 icofont-restaurant"></i></button></div>

                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <img class="img-fluid" alt="100%x280" src="{% static 'img/recette/repas3.jpg' %}">
                                                <div class="card-body">
                                                    <h4 class="card-title">Special title treatment</h4>
                                                </div>
                                                <div class="card-body">
                                                    <ul>
                                                        <li class="d-flex"><span>Pomme de terre</span><span class="ml-auto text-right">200g</span></li>
                                                        <li class="d-flex"><span>Pomme de terre</span><span class="ml-auto text-right">200g</span></li>
                                                        <li class="d-flex"><span>Pomme de terre</span><span class="ml-auto text-right">200g</span></li>
                                                        <li class="d-flex"><span>Pomme de terre</span><span class="ml-auto text-right">200g</span></li>

                                                    </ul>
                                                    <div class="text-center"><button type="submit">Faire ! <i class="ml-3 icofont-restaurant"></i></button></div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="carousel-item">
                                    <div class="row">

                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <img class="img-fluid" alt="100%x280" src="{% static 'img/recette/repas1.jpg' %}">
                                                <div class="card-body">
                                                    <h4 class="card-title">Special title treatment</h4>
                                                </div>
                                                <div class="card-body">
                                                    <ul>
                                                        <li class="d-flex"><span>Oeuf</span><span class="ml-auto text-right">4</span></li>
                                                        <li class="d-flex"><span>Jambon</span><span class="ml-auto text-right">200g</span></li>
                                                        <li class="d-flex"><span>truffe</span><span class="ml-auto text-right">10g</span></li>
                                                        <li class="d-flex"><span>Lard</span><span class="ml-auto text-right">300g</span></li>

                                                    </ul>
                                                    <div class="text-center"><button type="submit">Faire ! <i class="ml-3 icofont-restaurant"></i></button></div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <img class="img-fluid" alt="100%x280" src="{% static 'img/recette/repas2.jpg' %}">
                                                <div class="card-body">
                                                    <h4 class="card-title">Special title treatment</h4>
                                                </div>
                                                <div class="card-body">
                                                    <ul>
                                                        <li class="d-flex"><span>Pomme de terre</span><span class="ml-auto text-right">200g</span></li>
                                                        <li class="d-flex"><span>Pomme de terre</span><span class="ml-auto text-right">200g</span></li>
                                                        <li class="d-flex"><span>Pomme de terre</span><span class="ml-auto text-right">200g</span></li>
                                                        <li class="d-flex"><span>Pomme de terre</span><span class="ml-auto text-right">200g</span></li>

                                                    </ul>
                                                    <div class="text-center"><button type="submit">Faire ! <i class="ml-3 icofont-restaurant"></i></button></div>

                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <img class="img-fluid" alt="100%x280" src="{% static 'img/recette/repas3.jpg' %}">
                                                <div class="card-body">
                                                    <h4 class="card-title">Special title treatment</h4>
                                                </div>
                                                <div class="card-body">
                                                    <ul>
                                                        <li class="d-flex"><span>Pomme de terre</span><span class="ml-auto text-right">200g</span></li>
                                                        <li class="d-flex"><span>Pomme de terre</span><span class="ml-auto text-right">200g</span></li>
                                                        <li class="d-flex"><span>Pomme de terre</span><span class="ml-auto text-right">200g</span></li>
                                                        <li class="d-flex"><span>Pomme de terre</span><span class="ml-auto text-right">200g</span></li>

                                                    </ul>
                                                    <div class="text-center"><button type="submit">Faire ! <i class="ml-3 icofont-restaurant"></i></button></div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- ======= END RECETTES ====== -->

        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials section-bg">
            <div class="container">

                <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                    <h2>Vos avis</h2>
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>

                <div class="owl-carousel testimonials-carousel">

                    <div class="testimonial-item" data-aos="fade-up">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="{% static 'img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                        <h3>Saul Goodman</h3>
                        <h4>Ceo &amp; Founder</h4>
                    </div>

                    <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="{% static 'img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                        <h3>Sara Wilsson</h3>
                        <h4>Designer</h4>
                    </div>

                    <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="{% static 'img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                        <h3>Jena Karlis</h3>
                        <h4>Store Owner</h4>
                    </div>

                    <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="{% static 'img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                        <h3>Matt Brandon</h3>
                        <h4>Freelancer</h4>
                    </div>

                    <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="{% static 'img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
                        <h3>John Larson</h3>
                        <h4>Entrepreneur</h4>
                    </div>

                </div>

            </div>
        </section><!-- End Testimonials Section -->



    </main><!-- End #main -->

{% endblock %}